

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --font-one: "Montserrat", sans-serif;
    --font-two: "Roboto", sans-serif;
    --color-one: #000;
    --color-two: #929AAB;
    --color-three: #eee;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-one);
}

p, a, li {
    font-family: var(--font-two);
    color: var(--color-two);
    font-size: 18px;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}



header {
    height: 150px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-three);
}

.applicant-name h1 {
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 700;
}


.main-content-wrapper {
    padding: 50px 0;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.title-wrapper h2 {
    text-transform: uppercase;
    font-size: 35px;
    color: var(--color-one);
}

.title-line {
    height: 3px;
    width: 45px;
    background: var(--color-one);
    border-radius: 5px;
}

.details-wrapper {
    padding-bottom: 40px;
}

.col-pd-side {
    padding-right: 25px;
}

.details-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 25px;
}

.details-content h3 {
    text-transform: uppercase;
    font-size: 20px;
}

.details-content a {
    color: var(--color-two);
}

/*skills*/

.skills-wrapper {
    padding-bottom: 40px;
}

.skills-inner-wrapper {
    padding-bottom: 25px;
}

.progress {
    width:100%;
    height:20px;
    overflow:hidden;
    background:var(--color-three);
    border-radius: 0;
    margin-top: 5px;
}
  
.bar {
    position:relative;
    min-width:1%;
    height:100%;
    background: var(--color-one);
}

.progress1 .bar {
    width: 75%;
}

.progress2 .bar {
    width: 100%;
}
.progress3 .bar {
    width: 65%;
}
.progress4 .bar {
    width: 50%;
}
.progress5 .bar {
    width: 80%;
} 

.col-pd-main {
    padding-left: 25px;
}

.profile-wrapper {
    padding-bottom: 30px;
    border-bottom: 2px solid var(--color-three);
}

.profile-wrapper p {
    padding-bottom: 25px;
}

.employ-history-inner-wrapper {
    padding-bottom: 25px;
}

.employ-history-inner-wrapper h4 {
    font-weight: 700;
    font-size: 22px;
}

.employ-history-wrapper {
    padding: 50px 0 30px 0;
    border-bottom: 2px solid var(--color-three);
}

.education-inner-wrapper h4 {
    font-weight: 700;
    font-size: 22px;
}

.education-inner-wrapper {
    padding-bottom: 25px;
}

.education-wrapper {
    padding: 50px 0 0 0;
}


/*folder star*/


footer {
    background: var(--color-three);
    padding: 10px 0;
    text-align: center;
    margin-top: 30px;
}

.footer-content a {
    text-decoration: underline;
}


/* ###### Media queries  ######  */

@media screen and (max-width:480px) {
    

    header {
        height: 90px;
    }

    .applicant-name h1 {
        font-size: 30px;
    }

   
    .col-pd-side {
        padding-right: 0;
    }

    .col-pd-main {
        padding-left: 0;
    }

    .details-wrapper, .skills-wrapper, .hobbies-wrapper {
        padding-bottom: 30px;
    }

    

}



@media screen and (max-width:767px) and (min-width:481px) {


    .col-pd-side {
        padding-right: 0;
    }

    .col-pd-main {
        padding-left: 0;
    }

    .hobbies-wrapper {
        padding-bottom: 40px;
    }


}